/* Define your class names with corresponding styles */



.h1 {
  font-size: 24px;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  margin: 5px 0;
}

input[type="file"] {
  margin: 10px 0;
}

.submit {
  background-color: #007acc;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.time-of-day-buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.but {
  background-color: #007acc;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.disease-heading {
  font-size: 18px;
}


.h2 {
  font-size: 20px;
}

.p {
  font-size: 16px;
}

.avoid-list, .consumable-list {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
/* ... previous CSS styles ... */

.img-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.img-container img {
  max-width: 300px;
  margin: 0 10px; /* Add space between images */
  transition: transform 0.3s ease; /* Add transition effect */
}

.img-container img:hover {
  transform: scale(1.1); /* Apply a scale transform on hover */
}

/* ... rest of your CSS ... */

/* .avoid_tot{

  display: flex;
  justify-content: space-between;
} */




/* App Container */
.Det {
  font-family: Arial, sans-serif;
  text-align: center;
  /* padding: 20px; */
}

/* Header Styles */
.h1 {
  font-size: 2rem;
  margin: 20px 0;
}

/* Form Styles */
form {
  margin: 20px auto;
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  margin: 10px 0;
}

/* Submit Button Styles */
.submit {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
}

.submit:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Time of Day Buttons */
.time-of-day-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Time of Day Button Styles */
.but {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
}

.but:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

/* Food Suggestions Styles */
.consumable, .avoid,.food-suggestions {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s; /* Add transition for the box */
}

/* Heading Styles */
.h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* Paragraph Styles */
.p {
  font-size: 1.2rem;
}

